.DashboardHome{
    display: flex;
}
.DashboardHomeSideBar{
    width: 15%;
}
.DashboardHomeContainer{
    width: 85%;
}
.DashboardHomeStatisticExchange{
    display: flex;
}
.DashboardHomeStatistic{
    width: 75%;
}
.DashboardHomeExchange{
    width: 20%;
}