.swap-sidebar{
    display: flex;
    
}
.swap-sidebar-Sidebar{
    width: 15%;
}
.swap-container{
    display: flex;
    width: 80%;
    margin: 20px auto;
    gap:10px;
    margin: 20px auto;
}
.swap_full{
    width: 80%;
}
.swapBox{
    border: 2px solid#5252b7;
    border-radius: 17px;
    padding: 20px;
    width: 50%;
    position: relative;
    margin-top: 10px;
}
.swapInput{
    display:flex;
    margin: 20px auto;
    gap:20px;
    border: 1.5px solid #5f5feb21;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    
}
.swapInput:hover{
    border: 1.5px solid #5252b7;
    
}
.swapInput_Price{
    font-weight: normal;
}

.swapInput_Total{
    display: flex;
    position: absolute;
    right: 0;
    gap:6px;
    padding-right: 10px;

}
.swap_text{
    display: flex;

}
.swap_slippage{
    display: flex;
    position: absolute;
    right: 0;
    gap: 10px;
    background-color: #5f5feb21;
    padding: 7px;
    border-radius: 10px;
    margin-right: 15px;
}
.swapInput_input{
    padding: 10px;
    border: 0;
    outline: none;
    width: 100%;
}
.swapInput_cointainer{
    width: 80%;
    
}
.swapInput_input:disabled {
    background-color: transparent; 
}
.select_swap{
    border: none;
    background-color: #5252b794;
    color: white;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    padding: 10px;
    height: 40px;
    transform: translateY(50%);
}
.swapInput_icon{
    display: flex;
}
.swapInput_cointainer h4{
    font-weight: normal;
}
.swapInput_cointainer h6{
    font-weight: normal;
    margin-left: 5px;
}
.routesBox{
    border:2px solid#5252b7;
    border-radius: 17px;
    padding: 20px;
    width: 50%;
    position: relative;
}
.swap_button{
    width: 100%;
    display: flex;
    gap: 5px;


}
.swap_button1{
    width: 80%;
    margin-right: 70px;
    background-color: #5252b794;
}
.swap_button2{
    width: 15%;
    position: absolute;
    right: 0;    
    background-color: #5252b794;
}
.routeBox_box_fullheader{
    display: flex;
}
.route_icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 30px;
    border: 0.5px solid black;
    
}
.route_icon2{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 30px;
}
.routeBox_box_icon{
    display: flex;
    margin-top: 12px;
}
.routeBox_box_best{
    position: absolute;
    right: 0;
    margin-right: 40px;
    background-color: rgba(172, 255, 47, 0.273);
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;

}
.routeBox_box_best h6{
    color: green;
}
.routeBox_box_nameSwap{
    display: flex;
}
.routeBox_box_fullfooter{
    display: flex;
    margin-top: 10px;
    
}
.routeBox_box_icongas_full{
    position: absolute;
    right: 0;
    margin-right: 40px;
    display: flex;
    gap:5px;
}
.routeBox_box_icongas_full h6{
    font-weight: normal;
    font-size: 15px;
}
.routeBox_box{
    width: 100%;
    border: 1.5px solid #5f5feb21;
    padding: 15px;
    border-radius: 20px;
}
.routeBox_box:hover{
    border: 1.5px solid #5252b7;
}