.BinanceChartDashboard{
  display: flex;
}
.BinanceChartDashboardSB{
  width: 15%;
}
.DashboardContainer{
  width: 75%;
}
.candlestick-chart-container {
    margin-top:100px;
    background-color: white ; 
    padding: 20px;
    border-radius: 8px;
    color: #fff;
  }
  
  canvas {
    background-color: #1f1f1f; 
    border-radius: 8px;
  }
  
  .echarts-tooltip {
    background-color: #333;  
    color: #fff;
  }
  
  
  