.footer {
  background-image: url('../../../public/img/hinh2.jpg');
  background-size: cover;
  color: #fff;
  padding: 40px;
  width: 100%;
  text-align: left;
}

.container_footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Chia thành 12 cột */
  gap: 2rem;
}

.footer-about-us {
  grid-column: span 3; 
}
.footer-about-us h4 {
  display: flex;
  align-items: center; 
}

.footer-about-us .logo {
  margin-right: 10px; 
  width: 30px; 
  height: auto;
  border-radius: 50px; 
}
.footer-pages {
  grid-column: span 2; 
}

.footer-follow-us {
  grid-column: span 2; 
}

.footer-follow-us ul li a {
   display: flex;
  align-items: center;
  gap: 5px;
}
.footer-company{
  grid-column: span 2;
}

.footer-stay-updated {
  grid-column: span 3; 
}
.footer-stay-updated p{
  margin-bottom: 15px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ffffff;
  margin-left: 5px;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
}

.footer-col ul li a:hover {
  color: #9a9a9a;
}

.input-wrapper {
  background: linear-gradient(90deg, #154e75, #65057a); /* Màu gradient cho viền */
  padding: 4px; 
  border-radius: 4px;
}

.footer-input {
  padding: 10px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
   text-align: start;
  background-color: white; 
}
.footer-input::placeholder{
  color: #3e3d3d;
 
}

.subscribe-btn {
  background-image: url('../../../public/img/hinh1.jpg'); 
  border: none;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease; 
  font-size: 16px;
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 3px rgb(83, 82, 82);
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.subscribe-btn:hover {
  background-image: url('../../../public/img/hinh1.jpg');
  transform: translateY(-5px); /* Di chuyển chữ lên trên khi hover */
}

.subscribe-btn:hover::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}


@media (max-width: 768px) {
  .container_footer {
    grid-template-columns: repeat(6, 1fr); 
  }

  .footer-about-us {
    grid-column: span 6; 
  }

  .footer-pages, .footer-follow-us {
    grid-column: span 3; 
  }

  .footer-stay-updated {
    grid-column: span 6; 
  }
}

@media (max-width: 480px) {
  .container_footer {
    grid-template-columns: 1fr; 
  }

  .footer-about-us, .footer-pages, .footer-follow-us, .footer-stay-updated {
    grid-column: span 1; 
  }

  .footer-input {
    width: 100%;
    margin-bottom: 10px;
  }
}
